/* CSS FOR TEMPLATES */



/* HEADER CSS - base.html */

#chercher {
	margin-top: 5px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #D3D3D3;
	text-align: center;
}

#moncompte {
	padding-left: 10px;
	padding-right: 6px;
}

#deconnexion {
	padding-left: 10px;
	padding-right: 1px;
}


/* Some CSS details for home.html */

#separation_home {
	padding: .3em 0;
	background-color: #345A61;
}

#history_width {
	max-width: 700px;
}

#button_design {
	border-radius: 0px;
  	text-transform: capitalize;
  	letter-spacing: 1px;
}


/* Background image for account.html and credits.html */

.account_img, .credits_img {
	padding-top: 10rem;
  	padding-bottom: calc(10rem - 56px);
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.account_img {
	background-image: url("../img/account.jpg");
}

.credits_img {
  	background-image: url("../img/credits.jpg");
}

/* Color of the headline for various templates */

#account_bonbon, #credits_bonbon, #selection_bonbon {
	color: #86EBE6;
}


/* FOOTER CSS - base.html */

#footer {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 20px;
	color: #C45525;
	background-color: #345A61;
	height: 5em;
	padding-top: 20px;
}

#footer a {
    text-decoration: none;
}
#footer a:hover {
    color: ivory;
}
#footer a:active {
    color: black;
}
