{% extends 'food/base.html' %}
{% block title %}Mon compte{% endblock %}
{% block content %}
{% load static %}

<header class="text-center text-white d-flex account_img">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>A hoy<br>{{ username }} !</h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-12">
        <h3 class="my_email">{{ email }}</h3>
      </div>
    </div>
  </div>
</section>  

{% endblock %}
