{% extends 'food/base.html' %}
{% block title %}Résultats{% endblock %}
{% block content %}
{% load static %}

<header class="food_to_replace text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="20%">
        <h1 class="food_name">Aliment cherché</h1><!--Ou food.name ???-->
      </div>
    </div>
  </div>
</header>

<section class="pad_title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Vous pouvez remplacer cet aliment par :</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container">
    <div class="row popup-gallery pad_items">
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
    </div>

    <div class="row popup-gallery pad_items">
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box" href="{% static 'food/img/portfolio/fullsize/front_fr.3.400.jpg' %}"><!-- Attention, il faut rajouter l'extension .jpg ici-->
          <figure>
            <img class="img-fluid img_center" src="{% static 'food/img/portfolio/thumbnails/front_fr.3.400.jpg' %}" alt="Photo du produit" width="100%"><!-- <span class="badge badge-pill badge-success">A</span> -->
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    food.name
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="/foodinfo">food.name</a></figcaption>
            <figcaption class="save"><a href="/account"><span class="fa fa-save fa-lg"> Sauvegarder</span></a></figcaption>
          </figure>
      </div>
    </div>
  </div>
</section>  

{% endblock %}
