<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pur Beurre</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'resultats/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'resultats/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- For headers -->    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
    <!-- For paragraphs -->    
    <link href='https://fonts.googleapis.com/css?family=Scope+One:400' rel='stylesheet' type='text/css'>
    <!-- For the rest -->    
    <link href='https://fonts.googleapis.com/css?family=Scope+One:300,600,700|Open+Sans:700' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'resultats/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'resultats/css/creative.min.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'resultats/img/logo/logo_pur_beurre-favicon.png' %}" type="image/x-icon">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="img-fluid" src="img/logo/logo_pur_beurre.png" alt="Logo Pur Beurre" title="Logo Pur Beurre" width="70" height="70">Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about"><img class="img-fluid" src="img/icons/noun_29691_cc.png" alt="Chercher" title="Chercher" width="50" height="50">Chercher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services"><img class="img-fluid" src="img/icons/noun_29691_cc.png" alt="Mon compte" title="Mon compte" width="50" height="50">Mon compte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio"><img class="img-fluid" src="img/icons/noun_29691_cc.png" alt="Mes aliments" title="Mes aliments" width="50" height="50">Mes aliments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact"><img class="img-fluid" src="img/icons/noun_29691_cc.png" alt="Déconnexion" title="Déconnexion" width="50" height="50">Déconnexion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Du gras, oui, mais de qualité !</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Trouvez un produit de substiotution pour ceux que vous consommez tous les jours.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <div>
      {% block content}{% endblock}
    </div>

    <footer class="bg-dark text-white">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-3 "><a href="#">Mentions légales</div>
          <div class="col-lg-offset-2 col-lg-3"><a href="#">Contact</div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'resultats/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'resultats/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'resultats/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'resultats/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'resultats/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'resultats/js/creative.min.js' %}"></script>

  </body>

</html>
